.attendee_head {
    float: right;
    margin-left: 1px;
    height: 23px;
    width: 23px;
}
/* code company */
/* Schoten : #5ea443; */
/* Nalanda : #0075bb; */
/* Yeuten Ling : #d3711c */ 
/* Colors */
.calendar .event_color_1 {
  background-color: #F06050;
  color: #0d0d0d; }
.calendar .event_color_2 {
  background-color: #F4A460; 
  color: #ffffff; }
.calendar .event_color_3 {
  background-color: #F7CD1F;
  color: #0d0d0d; }
.calendar .event_color_4 {
  background-color: #6CC1ED; 
  color: #ffffff; }
.calendar .event_color_5 {
  background-color: #814968;
  color: #0d0d0d; }
.calendar .event_color_6 {
  background-color: #EB7E7F;
  color: #0d0d0d; }
.calendar .event_color_7 {
  background-color: #2C8397;
  color: #0d0d0d; }
.calendar .event_color_8 {
  background-color: #475577;
  color: #0d0d0d; }
.calendar .event_color_9 {
  background-color: #D6145F;
  color: #0d0d0d; }
.calendar .event_color_10 {
  background-color: #30C381; 
  color: #ffffff; }
.calendar .event_color_11 {
  background-color: ##9365B8;
  color: #0d0d0d; }

.calendar .calendar_color_1 {
  border-color: #F06050;
  background-color: #F06050;
  color: #ffffff; }
.calendar .calendar_color_2 {
  border-color: #F4A460; 
  background-color: #F4A460; 
  color: #ffffff; }
.calendar .calendar_color_3 {
  border-color: #F7CD1F;
  background-color: #F7CD1F;
  color: #ffffff; }
.calendar .calendar_color_4 {
  border-color: #6CC1ED;
  background-color: #6CC1ED;
  color: #ffffff; }
.calendar .calendar_color_5 {
  border-color: #814968;
  background-color: #814968;
  color: #ffffff; }
.calendar .calendar_color_6 {
  border-color: #EB7E7F;
  background-color: #EB7E7F;
  color: #0d0d0d; }
.calendar .calendar_color_7 {
  border-color: #2C8397;
  background-color: #2C8397;
  color: #ffffff; }
.calendar .calendar_color_8 {
  border-color: #475577;
  background-color: #475577;
  color: #ffffff; }
.calendar .calendar_color_9 {
  border-color: #D6145F;
  background-color: #D6145F;
  color: #ffffff; }
.calendar .calendar_color_10 {
  border-color: #30C381;     
  background-color: #30C381;  
  color: #ffffff; }
.calendar .calendar_color_11 {
  border-color: #9365B8;
  background-color: #9365B8;
  color: #ffffff; }

/* NOT USED */;
.calendar .calendar_color_12 {
  border-color: #fad165;
  background-color: #fad165;
  color: #ffffff; }
.calendar .calendar_color_13 {
  border-color: #92e1c0;
  background-color: #92e1c0;
  color: #0d0d0d; }
.calendar .calendar_color_14 {
  border-color: #9fe1e7;
  background-color: #9fe1e7;
  color: #0d0d0d; }
.calendar .calendar_color_15 {
  border-color: #9fc6e7;
  background-color: #9fc6e7;
  color: #0d0d0d; }
.calendar .calendar_color_16 {
  border-color: #4986e7;
  background-color: #4986e7;
  color: #0d0d0d; }
.calendar .calendar_color_17 {
  border-color: #9a9cff;
  background-color: #9a9cff;
  color: #0d0d0d; }
.calendar .calendar_color_18 {
  border-color: #b99aff;
  background-color: #b99aff;
  color: #0d0d0d; }
.calendar .calendar_color_19 {
  border-color: #c2c2c2;
  background-color: #c2c2c2;
  color: #0d0d0d; }
.calendar .calendar_color_20 {
  border-color: #cabdbf;
  background-color: #cabdbf;
  color: #0d0d0d; }
.calendar .calendar_color_21 {
  border-color: #cca6ac;
  background-color: #cca6ac;
  color: #0d0d0d; }
.calendar .calendar_color_22 {
  border-color: #f691b2;
  background-color: #f691b2;
  color: #0d0d0d; }
.calendar .calendar_color_23 {
  border-color: #cd74e6;
  background-color: #cd74e6;
  color: #0d0d0d; }
.calendar .calendar_color_24 {
  border-color: #a47ae2;
  background-color: #a47ae2;
  color: #0d0d0d; }
